In [101]:

import pandas as pd
import matplotlib.pyplot as mpl
import bokeh.charts as bk
import bokeh.plotting as plot
import bokeh.models as mdl

import os

In [64]:
#test berkeley
dfB = pd.read_csv("NewEnroll_Berkeley.csv")

dfB = dfB.set_index("\ufeffAcademic Yr")
dfB = dfB.sort_index()
dfB1 = dfB[dfB["UG Entry Level"] == "Freshman"]

del dfB1["Enrollment Status"]
del dfB1["UG Entry Level"]

In [83]:
#read all files in directory
df = pd.DataFrame()
names = []

for file in os.listdir():
    if file.endswith(".csv") == False:
        continue;
    df1 = pd.read_csv(file)
    
    df1 = df1.set_index("\ufeffAcademic Yr")
    df1 = df1.sort_index()
    df1 = df1[df1["UG Entry Level"] == "Freshman"]

    del df1["Enrollment Status"]
    del df1["UG Entry Level"]
    
    names.append(file.split("_")[1].split(".")[0])

    if len(df) == 0:
        df = df1
    else:
        df = pd.concat([df,df1], axis =1)
df.columns = names
df

,Berkeley,Davis,Irvine,LosAngeles,Merced,Riverside,SanDiego,SantaBarbara,SantaCruz
﻿Academic Yr,,,,,,,,,
2012,4162,5208,5077,5619,1492,4034,4576,4741,3827
2013,4706,5113,5460,5696,1654,4203,5228,4624,3302
2014,5466,5377,5435,5764,1551,4281,4922,4738,4035
2015,5550,5369,5756,5679,1788,4044,5292,4473,3620
2016,6182,5762,6551,6545,2048,5358,5748,4996,4221

In [126]:
#read all files in directory
df = pd.DataFrame()
names = []

for file in os.listdir():
    if file.endswith(".csv") == False:
        continue;
    df1 = pd.read_csv(file)
    
    df1 = df1.set_index("\ufeffAcademic Yr")
    df1 = df1.sort_index()
    df1 = df1[df1["UG Entry Level"] == "Freshman"]

    del df1["Enrollment Status"]
    del df1["UG Entry Level"]
    
    names.append(file.split("_")[1].split(".")[0])

    if len(df) == 0:
        df = df1
    else:
        df = pd.concat([df,df1], axis =1)
df.columns = names
df = df.rename_axis("Academic Yr")
cds = plot.ColumnDataSource().from_df(df)
cds

{'Academic Yr': [2012, 2013, 2014, 2015, 2016],
 'Berkeley': [4162, 4706, 5466, 5550, 6182],
 'Davis': [5208, 5113, 5377, 5369, 5762],
 'Irvine': [5077, 5460, 5435, 5756, 6551],
 'LosAngeles': [5619, 5696, 5764, 5679, 6545],
 'Merced': [1492, 1654, 1551, 1788, 2048],
 'Riverside': [4034, 4203, 4281, 4044, 5358],
 'SanDiego': [4576, 5228, 4922, 5292, 5748],
 'SantaBarbara': [4741, 4624, 4738, 4473, 4996],
 'SantaCruz': [3827, 3302, 4035, 3620, 4221]}

In [128]:
hover = mdl.HoverTool(tooltips=[("Year", "$(Academic Yr)"),("School", ""),("desc", "@(df.columns)"),])
TOOLS = [hover,'pan,wheel_zoom,save,crosshair,reset']

fig = bk.Line(df, plot_width=600, plot_height=600, title="UC Freshman Enrollment since 2012", tools=TOOLS)
fig.xlabel = "Year"
fig.ylabel = "Applicants"
#plot.outputfile("allcampuspastyears.html")
plot.show(fig)