In [47]:
import pandas as pd
import bokeh.charts as bk
import bokeh.models as mdl
import bokeh.plotting as plot
from bokeh.io import output_file as outfile
from bokeh.palettes import PuOr9 as color

In [44]:
demo = pd.read_csv("OverallApp.csv")

demo = demo[demo["Residency"] == "Total"]
del demo["Residency"] 
demo = demo.set_index("Campus")

demo = demo.T
del demo["Universitywide"]

demo

Campus,Berkeley,Davis,Irvine,Los Angeles,Merced,Riverside,San Diego,Santa Barbara,Santa Cruz
2015,78863,64582,71770,92681,17611,38504,78084,70532,45534
2016,82534,68510,77781,97060,19679,41557,84215,77078,49132
2017,85012,70904,85053,102177,21509,43433,88451,81782,52502

In [49]:
demo = demo.T
demoB = demo["2015"]

demo = demo.T
demoB = demoB.T

demoF = pd.DataFrame()
years = []

for (x,row) in demo.iterrows():
    years.append(x)
    r = row - demoB
    demoF = demoF.append(r, ignore_index=True)
demo = demoF

demo

,Berkeley,Davis,Irvine,Los Angeles,Merced,Riverside,San Diego,Santa Barbara,Santa Cruz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3671.0,3928.0,6011.0,4379.0,2068.0,3053.0,6131.0,6546.0,3598.0
2,6149.0,6322.0,13283.0,9496.0,3898.0,4929.0,10367.0,11250.0,6968.0

In [50]:
hover = mdl.HoverTool(tooltips=[("Number of applicants:", "$y")])
TOOLS = [hover,'pan,save,reset']
#TOOLS = 'pan,wheel_zoom,save,crosshair,reset'

fig = bk.Line(demo, plot_width=600, plot_height=600, tools=TOOLS,
              title="Change in UC System Freshman Applications", 
              xlabel = "Number of years since 2015", 
              ylabel = "Change in number of applicants")
#, palette = color)
outfile("campusappl.html")
plot.show(fig)